/* @tailwind base;
@tailwind components;
@tailwind utilities; */


@import 'primereact/resources/themes/vela-blue/theme.css';

/* Customization for MUI-like dark theme */
:root {
  --surface-0: #121212;
  --surface-1: #1E1E1E;
  --text-0: #FFFFFF;
  --text-1: #CCCCCC;
}

body,
.p-component {
  background-color: var(--surface-0);
  color: var(--text-0);
}

.p-inputtext, .p-inputtext:focus {
  border: 0.5px solid rgba(255, 255, 255, 0.249);
  border-radius: 4px;
}
